header{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
main{
    margin-left: 15%;
}
.titles{
    margin-left: 10px;
}
.content{
    margin-left: 20px;
}
.extra{
    margin-top: 2.5rem;
}